{% extends 'layouts/layout.html.twig' %}

{% block title %} Create Post {% endblock %}

{% block content %}

<div class="col-md-8 blog-main">

    <h3 class="pb-3 mb-4 font-italic border-bottom">

        Create Post

    </h3>

    <form class="needs-validation" novalidate method="POST" action="{{ base_url('blog') }}">

        {{ csrf.field | raw }}

        <div class="col">

            <div class="form-group col-8">

                <label for="postName">Name</label>

                <input type="text" class="form-control input-md" id="postName" name="name" placeholder="" required/>

                <div class="invalid-feedback">

                    Name required!

                </div>

            </div>

            <div class="form-group col-8">

                <label for="postEmail">Email</label>

                <input type="email" class="form-control input-md" id="postEmail" name="email" placeholder="" required/>
                
                <div class="invalid-feedback">

                    Email required!

                </div>

            </div>

            <div class="form-group col-4">

                <label for="postTitle">Title</label>

                <input type="text" class="form-control input-md" id="postTitle" name="title" placeholder="" required/>

                <div class="invalid-feedback">

                    Title required!

                </div>

            </div>

            <div class="form-group col">

                <label for="postBody">Body</label>

                <textarea class="form-control mb-4" id="postBody" name="body" placeholder="" rows="4" required/></textarea>
                
                <div class="invalid-feedback">
                    
                    Post content required!

                </div>

            </div>

            <div class="form-group col">

                <a class="btn btn-secondary mb-4" href="{{ base_url('blog') }}">Back</a>
                
                <input type="submit" class="btn btn-primary mb-4 " value="Submit"/>

            </div>

        </div>

    </form>

</div>

{% endblock %}

{% block js %}

    <script>

        $(function(){

            $('.needs-validation').each(function(key, obj){

                $(this).on('submit', function(e){

                    if (this.checkValidity() === false) {

                        e.preventDefault();
                    }

                    this.classList.add('was-validated');
                });
            });

        });

    </script>

{% endblock %}